<meta name="viewport" content="width=device-width, initial-scale=0.9">
<body id = "home">
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  <%= form_tag do %>
  <%= label :board, :l1, 'l1' %>
  <%= text_field :board, 'l1' %><%= text_field :board, 'l2' %><%= text_field :board, 'l3' %><%= text_field :board, 'l4' %><br>
  <%= text_field :board, 'l5' %><%= text_field :board, 'l6' %><%= text_field :board, 'l7' %><%= text_field :board, 'l8' %><br>
  <%= text_field :board, 'l9' %><%= text_field :board, 'l10' %><%= text_field :board, 'l11' %><%= text_field :board, 'l12' %><br>
  <%= text_field :board, 'l13' %><%= text_field :board, 'l14' %><%= text_field :board, 'l15' %><%= text_field :board, 'l16' %><br>

  <br>
  <br>
  <%= submit_tag 'Save Changes' %>
  
  
  <% end %>
  
  
  
<% end %>
</body>
